@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "sans-serif";
    box-sizing: border-box;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

.aside {
    width: 100dvw;
    height: 100dvh;
    background: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 13;
    overflow: hidden;
    transition: left 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        left: 0;
        transition: left 0.3s ease-in-out;
    }
}

body {
    overflow-x: hidden;
    position: relative;

    &::-webkit-scrollbar {
        width: 5px;
        height: 3px;
        border-radius: 8px;
        background: transparent;
    }

    &::-moz-scrollbar {
        width: 5px;
        height: 3px;
        border-radius: 8px;
        background: transparent;
    }

    &::-ms-scrollbar {
        width: 5px;
        height: 3px;
        border-radius: 8px;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-moz-scrollbar-track {
        background: transparent;
    }

    &::-ms-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        color: #04c8c4;
        background: #04c8c4;
    }

    &::-moz-scrollbar-thumb {
        color: #04c8c4;
        background: #04c8c4;
    }

    &::-ms-scrollbar-thumb {
        color: #04c8c4;
        background: #04c8c4;
    }
}

header {
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: position 0.7s linear;
    transition: background 0.7s linear;
    transition: top 2.7s linear;

    > .links {
        a {
            color: #fff;
            font-size: 17px;

            &:hover {
                color: #eee;
                transition: all 0.3s linear;
            }
        }
    }

    .actions {
        a {
            color: #08cafb;
            padding: 10px 24px;
            border: 2px solid #08cafb;
            border-radius: 7px;
            background: transparent;

            &:hover {
                background: #08cafb;
                color: #fff;
                transition: all 0.3s linear;
            }
        }
    }

    .toggle-icon {
        display: none;
    }

    &.sticky-header {
        position: sticky;
        background: #fff;
        top: 0;
        z-index: 10;
        box-shadow: 1px 2px 2px #ccc;
        transition: position 0.7s linear;
        transition: background 0.7s linear;
        transition: top 2.7s linear;

        > .links {
            a {
                color: #06b6d4;

                &:hover {
                    color: #468cf6;
                    transition: all 0.3s linear;
                }
            }
        }
    }
}

section.hero {
    width: 100dvw;
    height: 90dvh;
    background-image: linear-gradient(to right, #131a2e, #1f334e);
    position: relative;

    canvas {
        vertical-align: bottom;
    }

    #particles-js {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    .body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0px 30px;

        .text {
            h3 {
                font-size: 2rem;
                font-weight: 550;
            }

            p {
                font-size: 1rem;
                line-height: 1.3;

                span {
                    font-style: italic;
                    font-weight: 550;
                }
            }

            .go-to {
                a {
                    &:first-child {
                        &:hover {
                            background: #164e63;
                            transition: all 0.5s;
                        }
                    }

                    &:last-child {
                        &:hover {
                            background: #06b6d4;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }

        .img {
            padding: 0px 12px;

            img {
                width: 100%;
            }
        }
    }
}

.marquee {
    padding: 10px 2px;
    background-image: linear-gradient(to right, #131a2e, #1f334e);
    width: 100%;
    height: 10dvh;
    display: flex;
    align-items: center;
}

.index-about {
    width: 100%;
    padding: 24px 10px;

    > h3 {
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        color: #468cf6;
    }

    hr {
        width: 50px;
        border: 1px solid #06b6d4;
        margin: 0px auto;
    }

    > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 10px 14px;
        column-gap: 10px;

        > div:first-child {
            height: inherit;
            padding: 12px;
            line-height: 2.5;

            p {
                color: #131a2e;
                font-weight: 500;
                line-height: 2.8;
            }

            h3 {
                color: #000;
                font-size: 1.3rem;
                font-weight: 600;
                margin: 10px 0px;
            }
        }

        .img-about {
            aspect-ratio: 4/3;
            background: url("../assets/dash.png") no-repeat center center;
        }
    }
}

.contact-form {
    width: 100%;
    padding: 24px 10px;

    > h3 {
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        color: #468cf6;
    }

    hr {
        width: 50px;
        border: 1px solid #06b6d4;
        margin: 0px auto;
    }
}

.subscribe {
    width: 100%;
    margin: 30px 0px;
    width: 100%;
    height: 50dvh;
    background: url("../assets/finance-8045002_1280.jpg") no-repeat center
        center / cover;
    background-attachment: fixed;

    .subscribe-form {
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.7);
        padding: 24px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            display: flex;
            .input-group {
                max-width: 550px;
                min-width: 300px;
                flex-shrink: 1;

                input {
                    flex-shrink: 1;
                }
            }
        }
    }
}

.investment-plans {
    width: 100%;
    padding: 24px 10px;

    > h3 {
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        color: #468cf6;
    }

    hr {
        width: 50px;
        border: 1px solid #06b6d4;
        margin: 0px auto 10px auto;
    }

    .plans {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 1.7rem 2.5rem;
        gap: 20px;
        place-items: center;

        .plan {
            width: 340px;
            height: 430px;
            border-radius: 5px;
            flex-shrink: 1;
            box-shadow: 2px 0px 7px #eee, -2px 0px 7px #eee;

            .card-img {
                position: relative;
                width: 100%;
                height: 180px;
                background: url("../assets/finance-8041770_1280.jpg") no-repeat
                    center center / cover;
                border-radius: 5px 5px 0px 0px;
                overflow: hidden;

                .overlay {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: rgba($color: #000000, $alpha: 0.8);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 12px;
                }
            }
        }
    }
}

.how {
    width: 100%;
    padding: 24px 10px;
    // background: #eee;

    > h3 {
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        color: #468cf6;
    }

    hr {
        width: 50px;
        border: 1px solid #06b6d4;
        margin: 0px auto 10px auto;
    }

    .container {
        .card {
            box-shadow: 0px 2px 3px #eee, 0px -2px 3px #eee;
            padding: 0px 10px;
            .icon {
                width: 120px;
                height: 120px;
                background: rgb(4, 91, 205);
                position: absolute;
                z-index: 1;
                top: -60px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                border: 6px solid #fff;
                color: #fff;
                font-size: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card-body {
                margin-top: 70px;

                h4 {
                    color: #000;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                p {
                    margin-top: 13px;
                    color: #000;
                    text-align: center;
                    line-height: 2;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background: #1d2334;

    > div {
        width: 100%;
        padding: 3rem 1.2rem 2rem 1.2rem;
        .about-footer {
            .content {
                margin-top: 10px;
                color: #fff;
                padding: 15px 12px;
                line-height: 2;
                text-align: center;
                font-size: 0.9rem;
            }
        }

        .explore {
            padding: 15px 12px;

            h3 {
                font-size: 1.7rem;
                color: #986df5;
                text-align: center;
                font-style: italic;
            }

            hr {
                width: 30px;
                border: 1px solid #fff;
                margin: 10px auto;
            }

            ul {
                margin: 24px auto 0px auto;
                width: fit-content;
                li {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }

        .get-in-touch {
            padding: 15px 12px;

            h3 {
                font-size: 1.7rem;
                color: #986df5;
                text-align: center;
                font-style: italic;
            }

            hr {
                width: 30px;
                border: 1px solid #fff;
                margin: 10px auto;
            }

            ul {
                margin: 24px auto 0px auto;
                width: fit-content;
                li {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.auth-container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;

    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        width: 95%;
        min-height: 350px;
        .form-hero {
            background: url("../assets/dash.png") no-repeat center center /
                cover;
            background-size: contain;
            width: auto;
            display: flex;
        }

        form {
            h1 {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 600;
                color: #164e63;
            }

            .upper-text {
                color: #06b6d4;
                font-size: 12px;
            }

            .group {
                width: clamp(280px, 420px, 100%);
                padding: 7px 12px;

                label {
                    font-weight: 600;
                    font-size: 14px;
                }

                input:not([type="checkbox"]) {
                    width: 100%;
                    border: 1px solid #ddd;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    header {
        width: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        z-index: 10;
        transition: position 0.7s linear;
        transition: background 0.7s linear;
        transition: top 2.7s linear;

        > .links {
            display: none;
        }

        .actions {
            display: none;
        }

        .toggle-icon {
            display: block;
            color: #08cafb;
            padding: 7px 12px;
            border: 2px solid #08cafb;
            border-radius: 7px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background: #08cafb;
                color: #fff;
                transition: all 0.3s linear;
            }
        }
    }

    .index-about {
        > div {
            display: grid;
            grid-template-columns: 1fr;
            .img-about {
                display: none;
            }
        }
    }

    .investment-plans {
        .plans {
            padding: 1.7rem 1rem;
            justify-content: center;
            flex-grow: 1;
        }
    }

    .auth-container {
        .form-container {
            grid-template-columns: 1fr;
            width: 90%;
            .form-hero {
                display: none;
            }

            form {
                h1 {
                    text-align: center;
                }

                .upper-text {
                    text-align: center;
                }

                .group {
                    width: clamp(280px, 100%, 100%);

                    label {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
