@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "sans-serif";
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html {
  scroll-behavior: smooth;
}

.aside {
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 13;
  overflow: hidden;
  transition: left 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside.active {
  left: 0;
  transition: left 0.3s ease-in-out;
}

body {
  overflow-x: hidden;
  position: relative;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 8px;
  background: transparent;
}
body::-moz-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 8px;
  background: transparent;
}
body::-ms-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 8px;
  background: transparent;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-moz-scrollbar-track {
  background: transparent;
}
body::-ms-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  color: #04c8c4;
  background: #04c8c4;
}
body::-moz-scrollbar-thumb {
  color: #04c8c4;
  background: #04c8c4;
}
body::-ms-scrollbar-thumb {
  color: #04c8c4;
  background: #04c8c4;
}

header {
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 10;
  transition: position 0.7s linear;
  transition: background 0.7s linear;
  transition: top 2.7s linear;
}
header > .links a {
  color: #fff;
  font-size: 17px;
}
header > .links a:hover {
  color: #eee;
  transition: all 0.3s linear;
}
header .actions a {
  color: #08cafb;
  padding: 10px 24px;
  border: 2px solid #08cafb;
  border-radius: 7px;
  background: transparent;
}
header .actions a:hover {
  background: #08cafb;
  color: #fff;
  transition: all 0.3s linear;
}
header .toggle-icon {
  display: none;
}
header.sticky-header {
  position: sticky;
  background: #fff;
  top: 0;
  z-index: 10;
  box-shadow: 1px 2px 2px #ccc;
  transition: position 0.7s linear;
  transition: background 0.7s linear;
  transition: top 2.7s linear;
}
header.sticky-header > .links a {
  color: #06b6d4;
}
header.sticky-header > .links a:hover {
  color: #468cf6;
  transition: all 0.3s linear;
}

section.hero {
  width: 100dvw;
  height: 90dvh;
  background-image: linear-gradient(to right, #131a2e, #1f334e);
  position: relative;
}
section.hero canvas {
  vertical-align: bottom;
}
section.hero #particles-js {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
section.hero .body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0px 30px;
}
section.hero .body .text h3 {
  font-size: 2rem;
  font-weight: 550;
}
section.hero .body .text p {
  font-size: 1rem;
  line-height: 1.3;
}
section.hero .body .text p span {
  font-style: italic;
  font-weight: 550;
}
section.hero .body .text .go-to a:first-child:hover {
  background: #164e63;
  transition: all 0.5s;
}
section.hero .body .text .go-to a:last-child:hover {
  background: #06b6d4;
  transition: all 0.5s;
}
section.hero .body .img {
  padding: 0px 12px;
}
section.hero .body .img img {
  width: 100%;
}

.marquee {
  padding: 10px 2px;
  background-image: linear-gradient(to right, #131a2e, #1f334e);
  width: 100%;
  height: 10dvh;
  display: flex;
  align-items: center;
}

.index-about {
  width: 100%;
  padding: 24px 10px;
}
.index-about > h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #468cf6;
}
.index-about hr {
  width: 50px;
  border: 1px solid #06b6d4;
  margin: 0px auto;
}
.index-about > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 14px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.index-about > div > div:first-child {
  height: inherit;
  padding: 12px;
  line-height: 2.5;
}
.index-about > div > div:first-child p {
  color: #131a2e;
  font-weight: 500;
  line-height: 2.8;
}
.index-about > div > div:first-child h3 {
  color: #000;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 0px;
}
.index-about > div .img-about {
  aspect-ratio: 4/3;
  background: url("../assets/dash.png") no-repeat center center;
}

.contact-form {
  width: 100%;
  padding: 24px 10px;
}
.contact-form > h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #468cf6;
}
.contact-form hr {
  width: 50px;
  border: 1px solid #06b6d4;
  margin: 0px auto;
}

.subscribe {
  width: 100%;
  margin: 30px 0px;
  width: 100%;
  height: 50dvh;
  background: url("../assets/finance-8045002_1280.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}
.subscribe .subscribe-form {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 24px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe .subscribe-form form {
  display: flex;
}
.subscribe .subscribe-form form .input-group {
  max-width: 550px;
  min-width: 300px;
  flex-shrink: 1;
}
.subscribe .subscribe-form form .input-group input {
  flex-shrink: 1;
}

.investment-plans {
  width: 100%;
  padding: 24px 10px;
}
.investment-plans > h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #468cf6;
}
.investment-plans hr {
  width: 50px;
  border: 1px solid #06b6d4;
  margin: 0px auto 10px auto;
}
.investment-plans .plans {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1.7rem 2.5rem;
  gap: 20px;
  place-items: center;
}
.investment-plans .plans .plan {
  width: 340px;
  height: 430px;
  border-radius: 5px;
  flex-shrink: 1;
  box-shadow: 2px 0px 7px #eee, -2px 0px 7px #eee;
}
.investment-plans .plans .plan .card-img {
  position: relative;
  width: 100%;
  height: 180px;
  background: url("../assets/finance-8041770_1280.jpg") no-repeat center center/cover;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.investment-plans .plans .plan .card-img .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.how {
  width: 100%;
  padding: 24px 10px;
}
.how > h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #468cf6;
}
.how hr {
  width: 50px;
  border: 1px solid #06b6d4;
  margin: 0px auto 10px auto;
}
.how .container .card {
  box-shadow: 0px 2px 3px #eee, 0px -2px 3px #eee;
  padding: 0px 10px;
}
.how .container .card .icon {
  width: 120px;
  height: 120px;
  background: rgb(4, 91, 205);
  position: absolute;
  z-index: 1;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 6px solid #fff;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how .container .card .card-body {
  margin-top: 70px;
}
.how .container .card .card-body h4 {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.how .container .card .card-body p {
  margin-top: 13px;
  color: #000;
  text-align: center;
  line-height: 2;
}

footer {
  width: 100%;
  background: #1d2334;
}
footer > div {
  width: 100%;
  padding: 3rem 1.2rem 2rem 1.2rem;
}
footer > div .about-footer .content {
  margin-top: 10px;
  color: #fff;
  padding: 15px 12px;
  line-height: 2;
  text-align: center;
  font-size: 0.9rem;
}
footer > div .explore {
  padding: 15px 12px;
}
footer > div .explore h3 {
  font-size: 1.7rem;
  color: #986df5;
  text-align: center;
  font-style: italic;
}
footer > div .explore hr {
  width: 30px;
  border: 1px solid #fff;
  margin: 10px auto;
}
footer > div .explore ul {
  margin: 24px auto 0px auto;
  width: -moz-fit-content;
  width: fit-content;
}
footer > div .explore ul li {
  text-align: center;
  margin-bottom: 10px;
}
footer > div .get-in-touch {
  padding: 15px 12px;
}
footer > div .get-in-touch h3 {
  font-size: 1.7rem;
  color: #986df5;
  text-align: center;
  font-style: italic;
}
footer > div .get-in-touch hr {
  width: 30px;
  border: 1px solid #fff;
  margin: 10px auto;
}
footer > div .get-in-touch ul {
  margin: 24px auto 0px auto;
  width: -moz-fit-content;
  width: fit-content;
}
footer > div .get-in-touch ul li {
  text-align: center;
  margin-bottom: 10px;
}

.auth-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.auth-container .form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  width: 95%;
  min-height: 350px;
}
.auth-container .form-container .form-hero {
  background: url("../assets/dash.png") no-repeat center center/cover;
  background-size: contain;
  width: auto;
  display: flex;
}
.auth-container .form-container form h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: #164e63;
}
.auth-container .form-container form .upper-text {
  color: #06b6d4;
  font-size: 12px;
}
.auth-container .form-container form .group {
  width: clamp(280px, 420px, 100%);
  padding: 7px 12px;
}
.auth-container .form-container form .group label {
  font-weight: 600;
  font-size: 14px;
}
.auth-container .form-container form .group input:not([type=checkbox]) {
  width: 100%;
  border: 1px solid #ddd;
}

@media (max-width: 750px) {
  header {
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: position 0.7s linear;
    transition: background 0.7s linear;
    transition: top 2.7s linear;
  }
  header > .links {
    display: none;
  }
  header .actions {
    display: none;
  }
  header .toggle-icon {
    display: block;
    color: #08cafb;
    padding: 7px 12px;
    border: 2px solid #08cafb;
    border-radius: 7px;
    margin-right: 10px;
    cursor: pointer;
  }
  header .toggle-icon:hover {
    background: #08cafb;
    color: #fff;
    transition: all 0.3s linear;
  }
  .index-about > div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .index-about > div .img-about {
    display: none;
  }
  .investment-plans .plans {
    padding: 1.7rem 1rem;
    justify-content: center;
    flex-grow: 1;
  }
  .auth-container .form-container {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .auth-container .form-container .form-hero {
    display: none;
  }
  .auth-container .form-container form h1 {
    text-align: center;
  }
  .auth-container .form-container form .upper-text {
    text-align: center;
  }
  .auth-container .form-container form .group {
    width: clamp(280px, 100%, 100%);
  }
  .auth-container .form-container form .group label {
    font-size: 12px;
  }
}/*# sourceMappingURL=app.css.map */