@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "sans-serif";
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    overflow-x: hidden;
}

.toggle-menu {
    visibility: hidden;
}

.aside {
    width: 270px;
    height: 100vh;
    position: fixed;
    left: 0px;
    z-index: 24;
    background: #011e52;
    transition: left 0.3s ease-in-out;

    .links {
        width: 100%;
        height: 100%;

        overflow-y: scroll;

        &::-webkit-scrollbar {
            height: 3px;
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background: #edaa9d;
            color: #edaa9d;
            height: 10px;
        }
    }

    .close-btn {
        visibility: hidden;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        background: rgba($color: #fff, $alpha: 0.11);
        cursor: pointer;
        border-radius: 50%;
    }

    .dropdown-links {
        overflow: hidden;
        height: 0px;
        transition: all 0.3s ease-in-out;

        .arrow-icon {
            transition: all 0.3s ease-in-out;
        }
    }

    .upgrade-span {
        animation: blink-red;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

header {
    background: #011e52;
}

.page-content {
    width: calc(100% - 270px);
    margin-left: 270px;
    min-height: 100vh;
    background: #fff;

    .content {
        .widgets {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            > .widget {
                min-height: 120px;
                min-width: 270px;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 200;
                box-shadow: 1px 1px 10px #ccc, -1px -1px 10px #ccc;
                border-radius: 7px;
            }
        }

        .modal-container {
            width: 100dvw;
            height: 100dvh;
            background: rgba($color: #000000, $alpha: 0.7);
            position: fixed;
            z-index: 31;
            top: 0;
            left: 0;
            backdrop-filter: blur(3px);
            display: none;
            justify-content: center;
            align-items: center;
            padding: 0px 14px;
            overflow-y: hidden;

            &.active-modal {
                display: flex;
            }

            form {
                position: relative;
                min-width: 280px;
                width: 500px;
                max-height: 90%;
                background: #fff;
                border-radius: 7px;
                padding: 24px 28px;
                box-shadow: 1px 1px 7px #fff;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    height: 3px;
                    width: 3px;
                    position: absolute;
                    right: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #032d81;
                    color: #032d81;
                    height: 10px;
                }

                &.slide-up {
                    opacity: 0;
                    animation: slide-up;
                    animation-duration: 1.5s;
                }

                &.slide-down {
                    opacity: 1;
                    animation: slide-down;
                    animation-duration: 1.5s;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .toggle-menu {
        visibility: visible;
    }

    .aside {
        left: -270px;
        transition: all 0.3s ease-in-out;
        &.active {
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        .close-btn {
            visibility: visible;
        }
    }

    .page-content {
        width: 100%;
        margin-left: 0px;
    }
}

@keyframes blink-red {
    from {
        background: #e02424;
    }
    to {
        background: #f63939;
    }
}

@keyframes slide-down {
    from {
        margin-top: -500px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        margin-top: 0px;
        opacity: 1;
    }
    to {
        margin-top: -500px;
        opacity: 0;
    }
}
